// Styling for the masthead
header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  // background-image: url('../img/header.jpg');
  background-position: center;
  @include background-cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center;
    .header-content-inner {
      display: flex;
      flex-direction: row;
      h1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 50px;
        color: fade-out(white, .3);
      }
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    min-height: 600px;
    .header-content {
      position: absolute;
      top: 58%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        h1 {
          font-size: 75px;
          color: $theme-primary;
        }
        p {
          font-size: 18px;
          color: $gray-darker;
          max-width: 80%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

  // custom
  .masthead-content {
    display: flex;
    flex-direction: row;
  }

  // comment out the other classes to show it rounded
  .profile {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    padding-top: 20px;
  }

  .links li {
    list-style: none;
    padding: 20px;
  }

  .links li i:hover {
    color: #468686;
    transform: scale(1.1);
  }

  #homeHeading {
    font-size: 50px;
  }

  .profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 80px;
  }

  #about {
    font-size: 40px;
  }
}
